<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Error</title>
  </head>
  <body>
    <div class="page">
        {{>header}}
    </div>


    {{>footer}}
  </body>
</html>
