<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <div class="page">
        {{>header}}
        <img  id="website-creator" src="/img/pic-1.jpg" alt="Website creator">
        <p class= "about-p">This website uses information from <a href="https://www.darksky.net">Dark Sky</a> and <a href="https://www.mapbox.com">Map Box</a> websites
        </p>
    </div>

    {{>footer}}
  </body>
</html>
