<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Main</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <div class="page">
        {{>header}}
        <form>
          <input placeholder="Enter location" autofocus>
          <button type="submit">Search</button>
        </form>
        <p id="p-1"></p>
        <p id="p-2"></p>
    </div>
    {{>footer}}
    <script type="text/javascript" src="/js/script.js">

    </script>
  </body>
</html>
